*
{
    color: black;
border: 1px solid teal;
margin: 2px;
padding: 2px;
background-color: teal;
}

body {
    color: black;
    font-family: arial;
    margin: 0px;
    text-align: center;
}

div{
    min-height: 0.1vh;
    width: 0.1vw;
}

h1, h2 {
    text-align: center;
}
h1 {
    font-size: 5em;
}

img{
    display: flex;
    padding: 20px;
    margin: 0 auto;
    border-radius: 130px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  


  ol {
      list-style: none;
      padding: 0;
  }

 #mujSeznam {
     list-style: square;
     padding: 0;
     font-size: 3em;
 }

 li.item {
     padding: 2em;
 }

 .jak můžu pomoct{
     color: rgb(5, 91, 112)
 }
 
 
 .pes {
     color: rgb(93, 189, 202);
 }

 .kralik {
     color: rgb(92, 217, 240)
 }

 li {
     margin: 0 20px;
     transition: 0.6s ease;
 }

 li:hover {
     font-size: 1.2em;
     transition: 0.6s ease;
 }