*{
    color: rgb(47, 125, 214);
    border: 1px solid rgb(56, 165, 89);
    margin: 2px;
    padding: 2px;
    background-color: rgb(118, 163, 12);
}

    body {
        color: blueviolet;
        font-family: arial;
        margin: 0px;
    }

 


